.tribeBar {
    margin: 0px 75px;
}
.tribeBar .tribeButton {
    color: #ddd;
    font-size: x-large;
    display: contents;
}
.tribeBar .blue:hover {
    color: blue;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .red:hover {
    color: red;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .orange:hover {
    color: orange;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .pink:hover {
    color: pink;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .yellow:hover {
    color: yellow;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .purple:hover {
    color: purple;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .green:hover {
    color: green;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .black:hover {
    color: black;
    transition: color .25s;
    transition-delay: .1s;
}
.tribeBar .blue.active {
    color: blue;
}
.tribeBar .red.active {
    color: red;
}
.tribeBar .orange.active {
    color: orange;
}
.tribeBar .pink.active {
    color: pink;
}
.tribeBar .yellow.active {
    color: yellow;
}
.tribeBar .purple.active {
    color: purple;
}
.tribeBar .green.active {
    color: green;
}
.tribeBar .black.active {
    color: black;
}
