body {
    background-image: url(../images/every-single-person.png);
    background-size: cover;
    background-blend-mode: color-dodge;
    background-color: #808080;
    max-width: 100%;
}
.topnavButton {
    display: contents;
    font-size: xx-large;
    color: #ddd;
}
.topnavButton:hover {
    color: #333;
    transition: color .25s;
    transition-delay: .1s;
}
.topActive {
    color: #333;
}

.register {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: max-width 1s;
}
footer {
    bottom: 10px;
    padding: 10px 10px 0px 10px;
    position: fixed;
}
.register:hover {
    max-width: 60%;
    height: auto;
}

