body {
    /* background-image: url(../../images/every-single-person.png); */
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-color: #808080;
    max-width: 100%;
}
.topnavButton {
    display: contents;
    font-size: xx-large;
    color: #ddd;
}
.topActive {
    color: #333;
}
details {
    color: #ddd;
    font-size: xx-large;
}
summary {
    color: #333;
}
.register {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
footer {
    bottom: 0;
    padding: 10px 10px 0px 10px;
    position: fixed;
}